[submodule "libraries/SerialAnimator"]
	path = libraries/SerialAnimator
	url = https://crowjdh@github.com/crowjdh/SerialAnimator.git
[submodule "libraries/OrientationAdView"]
	path = libraries/OrientationAdView
	url = https://crowjdh@github.com/crowjdh/OrientationAdView.git
	branch = develop
[submodule "libraries/Snacktory"]
	path = libraries/Snacktory
	url = https://crowjdh@github.com/crowjdh/Snacktory_Android.git
	branch = master
[submodule "libraries/Volley"]
	path = libraries/Volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "libraries/FullscreenAd"]
	path = libraries/FullscreenAd
	url = https://github.com/Yooii-Studios/FullscreenAd
